@()

@main("Case 99") {
<h1>Projeto Backend Taxis - Case 99</h1>
<h2>Endpoints</h2>
<table class="table table-bordered">
    <tr>
        <th>Métodos</th>
        <th>Descrição</th>
        <th>URI</th>
        <th>Controller</th>
        <th>Parâmetros</th>
    </tr>
    <tr>
        <td>POST</td>
        <td>Atualiza status</td>
        <td>/drivers/:driverId/status</td>
        <td>controllers.DriverController.status</td>
        <td>{"driverId": 1,"driverAvailable" : false ,"latitude":1, "longitude": 2}</td>
    </tr>
    <tr>
        <td>POST</td>
        <td>Cadastra taxista</td>
        <td>/drivers</td>
        <td>controllers.DriverController.create</td>
        <td>{"name":"Pedro","carPlate":"RPC-9999"}'</td>
    </tr>
    <tr>
        <td>GET</td>
        <td>Lista por área</td>
        <td><a href="/drivers/inArea?ne=44.837102050663795,20-78.50342480468748&sw=44.48608119469483,20-79.45924169921875">/drivers/inArea</a></td>
        <td>controllers.DriverController.inArea</td>
        <td>?sw=-23.612474,-46.702746&ne=-23.589548,-46.673392</td>
    </tr>
    <tr>
        <td>GET</td>
        <td>Busca status</td>
        <td><a href="/drivers/1/status">/drivers/:driverId/status</a></td>
        <td>controllers.DriverController.status(driverId: Long)</td>
        <td>n/a</td>
    </tr>
    <tr>
        <td>GET</td>
        <td>Tela cadastro</td>
        <td><a href="/drivers/new">/drivers/new</a></td>
        <td>controllers.DriverController.newDriver</td>
        <td>n/a</td>
    </tr>
</table><br/>
<h2>Repositório Git (BitBucket)</h2>
<blockquote>https://bitbucket.org/joaotarla/case99 (Público)</blockquote>
}
