@(driverForm: Form[Driver])

@main("Adicionar taxista") {
    <h2>Adicionar taxista</h2>
    <blockquote>
        POST    /drivers <br/>
        "{"name":"Pedro","carPlate":"RPC-9999"}"
    </blockquote>
    @helper.form(action = routes.DriverController.create, 'class -> "form col-md-3") {
        @helper.inputText(driverForm("name"), 'class -> "form-control")
        @helper.inputText(driverForm("carPlate"), 'class -> "form-control")
        @helper.inputText(driverForm("driverAvailable"), 'class -> "form-control")
        @helper.inputText(driverForm("latitude"), 'class -> "form-control")
        @helper.inputText(driverForm("longitude"), 'class -> "form-control", '_info -> "s")
        <input type="submit" class="btn" value="Cadastrar taxista"/>
    }
}
